<%= form_with(model: @task, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, value: @description, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, :default=> @cal_date, readonly: true %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, :default=> @cal_date, readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit "Add To Calendar" %>
  </div>
<% end %>
