<body class="welcome-body">

  <div class="welcome-page-header">
    <div class="welcome-page-header-content-left-side-window">

      <h2>Celestial Harbinger:   <%= @user.harbingers.first.name %> </h2>
      <p>Cursed your fate: <%=  @user.birthday %></p>
      <p>Current Distance: <!-- <@user.harbingers.first.current_distance  --></p>
      <p>Currently Orbitting: <!-- <@user.harbingers.first.orbitting %> --></p>
      <p>Anniverary of Catastrophy: 2028</p>


    </div>
    <div class="welcome-page-header-content">
      <h1 class="welcome-text">Personal Zodiac</h1>
        <div class="welcome-page-header-content-subtitle">
          <p>Track your Harbinger of Doom.</p>
        </div>
    </div>
  </div>

  <div class="personal horoscope">
    <%  if @user.points == 5 %>
      <%= button_to "Change your Fate", "/personal/#{@user.id}", method: 'patch' %>
    <% end %>
    <div class="personal message">
      <p><%= @message.description %></p>
      <p><%= @date %></p>
    </div>
    <div class="add-to-cal-button">
      <%= link_to "Add To Google Calendar", new_task_path %>
    </div>
  </div>

  <div class="floaty-cathulu-container">
    <div class="cathulu">
      <%= image_tag("icons/whiter_cathulu.png", width: 400) %>
    </div>
  </div>

</body>
