<body class="welcome-body">

  <div class="welcome-page-header">

    <div class="harbinger-data-personal">
      <h2>THE HARBINGER OF YOUR BIRTH:  <%= @user.harbingers.first.name.upcase %> </h2>

      <div class="personal-page-header-content-subtitle">
        <p>ON THE DAY OF YOUR BIRTH <%= @user.harbingers.first.name.upcase %> CURSED YOUR DAYS FOREVER MORE.</p>
      </div>

      <div class="harbinger-personal-report">
        <p>CURSED YOUR FATE:  <%=  @user.birthday %></p>
        <p>LAST SEEN:  <%= @harbinger[:orbital_data][:last_observation_date] %></p>
        <p>EQUINOX:  <%= @harbinger[:orbital_data][:equinox] %></p>
        <p>BIRTHED INTO THE SOLAR SYSTEM:  <%= @harbinger[:orbital_data][:first_observation_date] %></p>
      </div>

    </div>





  <div class="personal-horoscope">

    <%  if @user.points == 5 %>
      <%= button_to "ALTER YOUR FATE", "/personal/#{@user.id}", method: 'patch' %>
    <% end %>

    <div class="personal-message">
      <p>BECAUSE OF <%=@user.harbingers.first.name.upcase %>'S POSITION ON YOUR BIRTHDAY,</p>
      <p><%= @message.description %></p>
    </div>
  </div>

    <div class="add-to-cal-button">
      <%= link_to "ADD EVENT TO GOOGLE CALENDAR", new_task_path %>
    </div>

  <div class="floaty-cathulu-container">

    <div class="cathulu-personal">
      <%= image_tag("icons/whiter_cathulu.png", width: 100) %>
    </div>
  </div>

</body>
