<body class="welcome-body">

  <div class="welcome-page-header">
    <div class="welcome-page-header-content-left-side-window">
      <!-- we will need to bring in personal astriod id and data to this page. -->
      <h2>Celestial Harbinger:   <%= @user.harbingers.first.name %> </h2>
      <p>Cursed your fate: <%=  @user.birthday %></p>
      <p>Current Distance: <!-- <@user.harbingers.first.current_distance  --></p>
      <p>Currently Orbitting: <!-- <@user.harbingers.first.orbitting %> --></p>
      <p>Anniverary of Catastrophy: 2028</p>


    </div>
    <div class="welcome-page-header-content">
      <h1 class="welcome-text">Personal Zodiac</h1>
        <div class="welcome-page-header-content-subtitle">
          <p>Track your Harbinger of Doom.</p>
        </div>
    </div>
  </div>

  <div class="personal horoscope">
    <div class="personal message">
      <p><%= @horrorscope_message %></p>
      <p><%= @predicted_date %></p>
    </div>
  </div>

  <div class="floaty-cathulu-container">
    <div class="cathulu">
      <%= image_tag("icons/whiter_cathulu.png", width: 400) %>
    </div>
  </div>
</body>
