<!DOCTYPE html>
<html>
  <head>
    <title>HorrorscopeRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>


  <style>
  ul {
    list-style-type: none;
    margin: 10px;
    overflow: hidden;
  }

  /* li {
    color: #101010;
  } */

  li a {
    display: block;
    color: white;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #101010;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body{
    cursor: url('icons/cathuluicon.gif'), auto;
  }
  li a:hover {
    background-color: #404040;
  }


  </style>
  <!-- <style type="text/css">
    body{
      cursor: url('icons/cathuluicon.png'), auto;
    }
  </style> -->

<body>
    <nav>
      <div class='navbar'>
        <ul>
          <li style="float:left"><a class= "nav-button1"><%= link_to 'HOME', "/"%></a></li>
          <li style="float:left"><a class= "nav-button1"><%= link_to 'DAILY', daily_index_path %></a></li>
          <% if current_user.nil? %>
            <li style="float:right"><a class= "nav-button2"><%= link_to 'LOG IN', '/auth/google'%></a></li>
          <% else %>
            <li style="float:left"><a class= "nav-button3"> <%= link_to 'PROFILE', "/personal" %></a></li>
            <li style="float:right"><a class= "nav-button2"> <%= link_to 'LOG OUT', "/logout"%></a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% flash.each do |type, message| %>
      <div class="flash <%= type %>">
        <%= message%>
      </div>
    <% end %>

    <%= yield %>
    <script type="text/javascript" src="name_generator.js"></script>
    <script type="text/javascript" src="egyptian_set.js"></script>

  </body>
</html>
